---
BasedOnStyle: Chromium
ColumnLimit: '180'
IndentWidth: '4'
NamespaceIndentation: All
ReflowComments: false
BreakBeforeBraces: Stroustrup
BreakConstructorInitializers: 'BeforeComma'
BreakBeforeBinaryOperators: All
BreakBeforeTernaryOperators: true
